.sidebar.dark {
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.ChannelInfo.dark {
  color: #ccc;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ChannelInfo.dark .ChannelInfo-author {
  color: #fff;
  opacity: 0.35;
}

.Controls-player.dark {
  color: #ccc;
  background: #222;
  box-shadow: 0 10px 15px rgba(51, 51, 51, 0.9);
}

.Controls-player.dark button {
  color: #ccc;
}

@media (hover: hover) {
  .EpisodeListElement.dark:hover {
    background: #393939;
  }

  .EpisodeListElement-play.dark:hover {
    background: #3498db;
    border: 1px solid #3498db;
    color: #fcfcfc;
  }
}
