.channel-info.light {
  background: #fff;
  color: #555;
  border-bottom: 1px solid #eee;
}

.channel-img.light {
  border: 3px solid #eee;
}

.channel-author.light {
  color: rgb(173, 173, 173);
}

.infoBox.light:hover {
  background: #f9f9f9;
}

.infoBox.light h3 {
  color: #333;
}

.infoBox.light .date {
  color: #999;
}

.episodes.light {
  color: #555;
}

.items.light {
  background: #fff;
}

.items.light .btn {
  border: 1px solid #ccc;
  color: #ccc;
}

.items.light .selected,
.items.light .btn:hover {
  background: #3498db;
  border: 1px solid #3498db;
  color: #fcfcfc;
}

#player.light {
  color: #ccc;
  background: #2b2b2b;
  box-shadow: 0 10px 15px rgba(245, 245, 245, 0.6);
}

#player.light button {
  color: #888;
}

.progress-wrapper.light {
  background: #444;
}

.loader-bg.light {
  background: whitesmoke;
}

.volume-wrapper.light {
  background: #666;
}
