.loader-bg.light {
  background: none;
}

.volume-wrapper.light {
  background: #666;
}

@media (hover: hover) {
  .EpisodeListElement.light:hover {
    background: #f9f9f9;
  }

  .EpisodeListElement-play.light:hover {
    background: #3498db;
    border: 1px solid #3498db;
    color: #fcfcfc;
  }
}
