.Controls-player.light {
  color: #ccc;
  background: #2b2b2b;
  box-shadow: 0 10px 15px rgba(245, 245, 245, 0.6);
}

.Controls-player.light button {
  color: #888;
}

.loader-bg.light {
  background: none;
}

.volume-wrapper.light {
  background: #666;
}

@media (hover: hover) {
  .EpisodeListElement.light:hover {
    background: #f9f9f9;
  }

  .EpisodeListElement-play.light:hover {
    background: #3498db;
    border: 1px solid #3498db;
    color: #fcfcfc;
  }
}
