.BackButton {
  display: block;
  padding: 10px;
  margin-bottom: 25px;
}

/* ============ Themes ============ */
.BackButton.dark {
  color: #777;
}

.BackButton.light {
  color: #999;
}

@media only screen and (max-width: 900px) {
  .BackButton {
    display: none;
  }
}
