/* CHANNEL INFO */

.ChannelInfo {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  padding: 50px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.ChannelInfo-text {
  flex: 1 1 auto;
  text-align: left;
}

.ChannelInfo-img {
  flex: 0 0 auto;
  display: block;
  height: 275px;
  width: 275px;
  border-radius: 10px;
  margin-right: 25px;
}

.ChannelInfo-title {
  margin: 10px 0;
  font-size: 3.2rem;
  text-align: left;
}

.ChannelInfo-author {
  margin-bottom: 25px;
  font-size: 2rem;
}

.ChannelInfo p {
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: left;
}

.ChannelInfo-website {
  color: #fff;
  background: #3498db;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.4rem;
  text-decoration: none;
  margin-top: 25px;
}

.ChannelInfo-website .fas {
  margin-right: 5px;
}

.ChannelInfo-website a {
  color: #999;
  text-decoration: none;
  margin-left: 5px;
}

.episodes {
  margin: 50px auto 25px auto;
  text-align: left;
  max-width: 1200px;
  width: 90%;
  padding: 10px;
  font-weight: normal;
  display: block;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .ChannelInfo {
    flex-direction: column;
    padding-top: 0;
  }
  .ChannelInfo-img {
    margin: 50px 0 25px 0;
    height: 150px;
    width: 150px;
  }
}
