/* PLAYER CONTROLS */
#player {
  position: fixed;
  bottom: 10px;
  right: 10px;
  left: 210px;
  display: flex;
  flex-direction: row;
  padding: 20px 15px 15px;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

#player div {
  text-align: center;
}

#player #title {
  width: 80%;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
}

#player button {
  margin: 0 15px;
}

.control-btns {
  display: flex;
  align-items: center;
}

.time {
  margin: 0 25px;
  font-size: 1.6rem;
}

.title {
  font-size: 1.6rem;
}

@media only screen and (max-width: 600px) {
  #player {
    /* left: 0;
    right: 0;
    bottom: 60px;
    flex-direction: column; */
    display: none;
  }

  #player .title {
    display: none;
    margin-bottom: 25px;
  }
}
