/* PLAYER CONTROLS */
#player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 75px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  justify-content: center;
}

#player div {
  text-align: center;
}

#player #title {
  width: 80%;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
}

#player button {
  margin: 0 15px;
}

.control-btns {
  display: flex;
  align-items: center;
}

.time {
  font-weight: bold;
  margin: 0 25px;
  font-size: 1rem;
}

.title {
  font-size: 1rem;
}
