.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  backdrop-filter: blur(5px);
}

.EpisodeSummary {
  position: fixed;
  max-width: 600px;
  width: 95%;
  max-height: 400px;
  height: auto;
  background: #2b2b2b;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.EpisodeSummary-info {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.EpisodeSummary a {
  border-bottom: 1px dotted #ccc;
}

.EpisodeSummary h1,
.EpisodeSummary h2,
.EpisodeSummary h3,
.EpisodeSummary h4 {
  margin: 10px 0;
  color: #eee;
}

.EpisodeSummary h3 {
  font-size: 2.5rem;
}

.EpisodeSummary-info small {
  color: rgba(255, 255, 255, 0.5);
}

.EpisodeSummary ul {
  margin-left: 25px;
  font-size: 1.5rem;
}

.EpisodeSummary li {
  margin: 5px;
}

.EpisodeSummary p {
  margin: 5px 0;
  font-size: 1.5rem;
  color: #ccc;
  line-height: 1.5;
}

.scrollable {
  overflow-y: scroll;
  max-height: 400px;
  height: 100%;
  padding: 50px;
}

.scrollable::-webkit-scrollbar {
  width: 20px;
}

.scrollable::-webkit-scrollbar-thumb {
  background: #1b1b1b;
}

.close {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #eee;
  font-size: 1.5rem;
  cursor: pointer;
  color: #555;
  z-index: 999;
}

@media only screen and (max-width: 900px) {
  .EpisodeSummary {
    transform: translate(0);
    left: 15px;
    top: 75px;
    right: 15px;
    bottom: 75px;
    max-height: 100%;
    width: auto;
  }

  .scrollable {
    max-height: 100%;
  }
}
