.Home {
  padding: 10px;
}

.Home-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/banner-bg.jpg');
  border-radius: 10px;
  margin: 25px 0;
  text-align: left;
  color: #fff;
  padding: 35px 50px;
  background-size: cover;
  background-position: 0 50%;
}

.Home-banner h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 500;
}

.Home-banner p {
  font-size: 18px;
  font-weight: 100;
  width: 55%;
  font-family: 'Lato';
  line-height: 1.5;
}

.Home-category {
  margin: 50px 0;
}

.Home-category:last-of-type {
  margin-bottom: 100px;
}

.Home-category h2 {
  font-size: 22px;
  text-align: left;
  margin-bottom: 15px;
  color: #555;
  font-weight: 500;
}

.Home-podcast img {
  margin-bottom: 5px;
  border-radius: 5px;
  width: 100%;
}

.Home-podcast h3 {
  font-weight: normal;
}

.Home-podcast {
  color: #999;
  text-decoration: none;
}

.Home-podcasts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-gap: 10px;
}

@media only screen and (max-width: 600px) {
  .Home-banner {
    padding: 25px;
  }
  .Home-banner p {
    width: 100%;
  }
}
