.Home-podcastTitleBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.Home-podcastTitleBar .icon {
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  opacity: 0.5;
}

.Home-podcastTitleBar .icon.active {
  opacity: 1;
}

.Home-podcastTitleBar strong {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
}

.Home-category {
  margin: 50px 0;
}

.Home-category-title {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 15px;
}

.Home-category-subtitle {
  text-align: left;
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 500;
}

/* TODO: Move podcast styles into own file */
.Home-podcast {
  text-decoration: none;
}

.Home-podcast img {
  margin-bottom: 5px;
  width: 100%;
  border-radius: 10px;
}

.Home-podcast-title {
  font-weight: normal;
  color: #777;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Home-podcasts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
  grid-gap: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
  grid-gap: 20px;
}

/* https://stackoverflow.com/questions/39586445/child-div-ignoring-parent-element-padding-bottom-in-firefox-but-working-on-chrom */

/* ============ Themes ============ */

.Home.dark .Home-category-title,
.Home.dark .Home-podcastTitleBar,
.Home.dark .Home-podcastTitleBar button {
  color: #fff;
}

.Home.dark .Home-podcast-title {
  color: #eee;
}

.Home.dark .Home-category-subtitle {
  color: #fff;
}

.Home.black .Home-podcast-title {
  color: #555;
}

.Home.black .Home-category-title {
  color: #ccc;
}

.Home.black .Home-category-subtitle {
  color: #444;
}

.Home.black .Home-banner {
  color: #ccc;
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-gap: 10px;
  }

  .Home-banner h1 {
    font-size: 28px;
  }

  .Home-podcasts {
    position: relative;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 0 -10px;
    width: 100vw;
    padding: 0 5px;
  }

  .Home-category .Home-podcast:last-child {
    padding-right: 5px;
  }

  .Home-podcast-title {
    margin-left: 5px;
    width: 95px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .Home-category img {
    width: 95px;
    margin: 5px;
  }
}
