.home-page {
  margin: 0 0 100px 225px;
}

.podcast-category {
  padding: 25px;
}

.podcast-category h2 {
  font-size: 24px;
  text-align: left;
  padding: 10px;
  margin-bottom: 15px;
  color: #555;
}

.category-podcast {
  width: 100px;
  margin: 10px;
}

.category-podcast img {
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.category-podcast {
  color: #999;
  text-decoration: none;
}

.category-podcasts {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .category-podcast {
    margin: 10px 0;
    flex: 0 0 auto;
    width: 30%;
    margin: 1.66%;
  }
  .home-page {
    margin-left: 0;
  }
}
