.NowPlaying-player {
  background-position: center;
  background-size: cover;
  height: calc(100vh - 120px);
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.NowPlaying-close {
  position: fixed;
  top: 70px;
  left: 10px;
  color: #999;
}

.NowPlaying-player img {
  width: 150px;
  border-radius: 5px;
}

.NowPlaying-info {
  width: 100%;
}

.NowPlaying-info h3 {
  font-size: 18px;
  color: #555;
}

.NowPlaying-info h4 {
  font-weight: normal;
  font-size: 16px;
  margin: 10px;
  color: #999;
}

.NowPlaying-player a {
  text-decoration: none;
}

.NowPlaying-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.NowPlaying-controls .material-icons {
  font-size: 35px;
  color: #555;
}

.play-btn {
  font-size: 45px !important;
  margin: 0 25px;
}
