.NowPlaying-player {
  background-position: center;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Override progress bar styles */
.NowPlaying-player .Progress-wrapper {
  position: relative;
  min-width: 100%;
  transform: none;
  left: 0;
  padding: 20px 0 0;
}

.NowPlaying-player .Progress-background {
  width: 100%;
}

.NowPlaying-player .NowPlaying-close {
  position: fixed;
  top: 85px;
  left: 25px;
  color: #999;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.NowPlaying-img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.NowPlaying-player img {
  display: block;
  width: 100%;
  transition: all 0.1s;
}

.NowPlaying-info {
  width: 100%;
}

.NowPlaying-text {
  padding: 10px;
  margin-bottom: 10px;
}

.NowPlaying-text h3 {
  font-weight: normal;
  font-size: 1.8em;
  margin: 8px 0;
  color: #eee;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.NowPlaying-text h4 {
  font-size: 1.4em;
  color: #eee;
  opacity: 0.5;
  font-weight: normal;
}

.NowPlaying-player a {
  text-decoration: none;
}

.NowPlaying-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.NowPlaying-controls .material-icons {
  font-size: 30px;
  color: #555;
}

.play-btn {
  font-size: 45px !important;
  margin: 0 25px;
}

.blur {
  filter: blur(3px);
}

/* ============ Themes ============ */

.NowPlaying-player.light img {
  border: 3px solid #eee;
}

.NowPlaying-player.dark .NowPlaying-info h3 {
  color: #eee;
}

.NowPlaying-player.dark .NowPlaying-controls .material-icons {
  color: #eee;
}

.NowPlaying-player.light .NowPlaying-info h3 {
  color: #333;
}

.NowPlaying-player.light .NowPlaying-info h4 {
  color: #333;
  opacity: 0.75;
}

.NowPlaying-player.black .NowPlaying-info h3 {
  color: #eee;
}

.NowPlaying-player.black .NowPlaying-controls .material-icons {
  background: linear-gradient(45deg, #c31432, #240b36);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
