/* PODCAST LIST */
.items {
  margin: 150px 0 0 75px;
  position: relative;
  padding-bottom: 175px;
}

.infoBox {
  max-width: 800px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.infoBox h3 {
  padding: 5px 0;
  font-size: 1.1rem;
}

.infoBox .date {
  color: #999;
  font-size: 1.3em;
  font-weight: bold;
}

.infoBox .text {
  padding-right: 25px;
  text-align: left;
}

/* PLAY BUTTON */
.btn {
  display: flex;
  justify-content: center;
  margin-left: auto;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  flex-shrink: 0;
}

.btn > .material-icons {
  pointer-events: none;
  font-size: 20px;
}
