.progress-wrapper {
  position: relative;
  background: #ccc;
  height: 5px;
  border-radius: 10px;
  max-width: 600px;
  width: 75%;
  margin: 25px 0;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  border-radius: 10px;
  background: linear-gradient(to right, #2980b9, #8e44ad, #e84393);
}
