.Progress-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Progress-times {
  /* position: absolute; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: #999;
}

.Progress-background {
  height: 5px;
  width: 300px;
  margin: 0 auto 0 auto;
  border-radius: 50px;
  position: relative !important;
}

.Progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  border-radius: 50px;
}

/* ============ Themes ============ */

.Progress-background.black {
  background: #222;
}

.Progress-background.dark,
.Progress-background.light {
  background: #333;
}

.Progress-background.black .Progress-bar {
  background: #c31432;
}

@media only screen and (max-width: 600px) {
  .Progress-background.light {
    background: #ccc;
  }
}
