.SettingsPage {
  text-align: left;
  height: calc(100vh - 120px);
  color: #555;
}

.SettingsPage-setting {
  padding: 10px;
}

.Setting-title {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 22px;
  margin: 10px 0 25px 0;
}

/* Custom radio buttons - https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

.Setting-radio {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-right: 20px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.Setting-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #eee;
  border-radius: 50%;
  transition: background 0.2s;
}

.Setting-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.Setting-radio input:checked ~ .checkmark {
  background-color: #3498db;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.Setting-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.Setting-radio .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* ============ Themes ============ */

.SettingsPage.dark {
  color: #eee;
}

.SettingsPage.dark .Setting-radio,
.SettingsPage.black .Setting-radio {
  color: #999;
}

.SettingsPage.dark .checkmark,
.SettingsPage.black .checkmark {
  background: #555;
}

.Setting-radio-black {
  display: none;
}

@media only screen and (max-width: 600px) {
  .Setting-radio-black {
    display: inline-block;
  }
}
