.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 75px;
  background: #222;
  z-index: 9999;
  display: flex;
  flex-direction: column;
}

.sidebar img {
  width: 50px;
  height: auto;
  border-radius: 5px;
  align-self: center;
}

.sidebar-top {
  color: rgba(255, 255, 255, 0.5);
  padding: 15px 5px;
  margin-bottom: 25px;
}

.sidebar li {
  list-style: none;
}

.sidebar li:not(.sidebar-top) {
  filter: grayscale(100%);
  transition: all 0.2s;
}

.sidebar li:not(.sidebar-top) {
  cursor: pointer;
  margin: 10px auto;
  width: 60%;
}

.sidebar .img-link {
  position: relative;
  display: block;
  border-radius: 50%;
  margin: 20px 0;
  pointer-events: none;
  width: 100%;
  user-select: none;
}

.sidebar li:hover {
  filter: grayscale(0%);
}

.sidebar-selected {
  position: relative;
  filter: grayscale(0%) !important;
}

.sidebar-selected:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  top: 0;
  right: -15px;
  background: #3498db;
}

.theme-wrapper {
  margin: auto auto 10px;
}

.theme-wrapper h4 {
  color: #777;
  margin: 10px 0;
}

.change-theme {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #555;
  cursor: pointer;
}

.change-theme.light {
  background: #eee;
}

.change-theme.dark {
  background: #444;
}

.toggle-side {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #222;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  display: none;
}
.toggle-side.over {
  transform: translateX(75px);
}

.toggle-side img {
  height: 40%;
  width: auto;
}

.sidebar-out {
  transform: translateX(0) !important;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    transform: translateX(-100%);
    transition: all 0.2s;
  }

  .toggle-side {
    display: flex;
  }
}
