.sidebar {
  position: sticky;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background: #111;
  z-index: 997;
  display: flex;
  flex-direction: column;
  grid-area: Sidebar;
}

.sidebar img {
  width: 25px;
  height: auto;
  border-radius: 5px;
  align-self: center;
}

.sidebar-top {
  padding: 50px 35px;
  margin-bottom: 25px;
  text-align: left;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar li {
  list-style: none;
}

.sidebar-link {
  font-size: 1.4rem;
  letter-spacing: 1px;

  margin: 25px 0;
  text-align: left;
  color: #777;
  font-weight: normal;
}

.sidebar-link:hover {
  color: #fff;
}

.sidebar-link a {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
}

.sidebar-link .fas {
  margin-right: 15px;
  font-size: 18px;
  text-align: center;
}

.sidebar-active {
  color: #fff;
}

a.sidebar-active:before {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  bottom: -5px;
  width: 4px;
  background: #cd84f1;
}

.settings {
  margin-top: auto;
}

.toggle-side img {
  height: 40%;
  width: auto;
}

@media only screen and (max-width: 900px) {
  .sidebar {
    transform: translateX(-100%);
    transition: all 0.2s;
    position: fixed;
  }

  .toggle-side {
    display: flex;
  }
}
