.sidebar {
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  width: 200px;
  background: #222;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  padding: 15px 35px;
}

.sidebar img {
  width: 50px;
  height: auto;
  border-radius: 5px;
  align-self: center;
}

.sidebar-top {
  color: rgba(255, 255, 255, 0.5);
  padding: 15px 5px;
  margin-bottom: 25px;
  text-align: left;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar li {
  list-style: none;
}

.sidebar-link {
  font-size: 1.4rem;
  margin: 25px 0;
  text-align: left;
}

.sidebar-link a {
  text-decoration: none;
  color: #999;
}

.sidebar-link .fas {
  margin-right: 5px;
  width: 15px;
  text-align: center;
}

.settings {
  margin-top: auto;
}

.theme-wrapper {
  margin: auto auto 10px;
}

.theme-wrapper h4 {
  color: #777;
  margin: 10px 0;
}

.change-theme {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #555;
  cursor: pointer;
}

.change-theme.light {
  background: #eee;
}

.change-theme.dark {
  background: #444;
}

.toggle-side {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #222;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  display: none;
}
.toggle-side.over {
  transform: translateX(200px);
}

.toggle-side img {
  height: 40%;
  width: auto;
}

.sidebar-out {
  transform: translateX(0) !important;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    transform: translateX(-100%);
    transition: all 0.2s;
    position: fixed;
  }

  .toggle-side {
    display: flex;
  }
}
