body {
  font-family: sans-serif;
  color: #2b2b2b;
  text-align: center;
  background: #fff;
  font-family: 'Ubuntu';
  overflow-y: scroll;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

.app-wrapper {
  display: flex;
  transition: background 0.2s;
  min-height: calc(100vh - 120px);
}

.app-wrapper-content {
  flex: 1;
  padding: 25px 50px;
  max-width: 100%;
}

.error {
  z-index: 9999;
  position: absolute;
  top: 30%;
  left: 50%;
  background: #f5f5f5;
  transform: translateX(calc(-50% + 75px / 2));
  font-size: 1.3rem;
  color: #999;
  width: 250px;
}

.error img {
  width: 55%;
  margin-top: 25px;
  position: relative;
  left: -15px;
  opacity: 0.75;
}

.middle {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #999;
  font-family: 'Lato';
  font-weight: 100;
}

/* ============ THEMES ============ */

.app-wrapper.dark {
  background: #333;
}

.app-wrapper.black {
  background: #000;
}

.app-wrapper.light {
  background: #fff;
}

@media only screen and (max-width: 600px) {
  .app-wrapper-content {
    padding: 10px;
  }
}
